.app {
    margin: 0 auto;
    width: 375px;
}

body {
    font-family: Roboto Regular;
    font-size: 18px;
    color: #4D4D4D;
}

header {
    background-color: #6b92ca;
    height: 75px;
}

h1 {
    font-family: Libre Baskerville Bold;
    color: #4D4D4D;
    font-size: 24px;

}

h2 {
    color: #4D4D4D;
    font-family: Libre Baskerville Bold;
    font-size: 21px;
}

navbar {
    color: #FDFDFD;
    font-family: Roboto Light;
    font-size: 24px;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #6b92ca;
    color: #FDFDFD;
    font-family: Roboto Light;
    font-size: 24px;
  }
  
  li {
    display: inline;
  }
.newsItem {
    color:#9B9A9A;
    height: 6px;
    width: 20px;
}
.header icon {
    color: #ed1b1b;
    opacity: 50%;
    width:20px;
    height: 20px;
}


footer {
    font-family: Roboto Light;
    font-size: 14px;
    color:#FDFDFD;
    background-color: #31435E;
    height: 75px;
    text-align: center;
}

